@import 'scss/config';

*{
    margin: 0;
    width: 0;
    box-sizing: border-box;
}

body{
    background-color: $color--main;
    color: $grey--light;
}

div{
    background-color: $green--light;
    width: 100px;
    &:hover{
        background-color: $green--dark;
    }
}